@model IEnumerable<PEDRO.Models.ArchiveUsersModels>

@{
    ViewBag.Title = "Gerenciador de Arquivos";
}

<p>
    <div class="btn btn-default">
        @Html.ActionLink("Adicionar arquivo", "Create")
    </div>
</p>

@using (Html.BeginForm())
{
    <p>
        Filtrar por: @Html.TextBox("SearchString")
        <input type="submit" value="Buscar" />
        @Html.ActionLink("Limpar", "Index")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nome do Arquivo", "Index", new { sortOrder = ViewBag.NomeSortParm })
        </th>
        <th>
            @Html.ActionLink("Tipo", "Index", new { sortOrder = ViewBag.TipoSortParm })
        </th>
        <th>
            @Html.ActionLink("Tamanho", "Index", new { sortOrder = ViewBag.TamanhoSortParm })
        </th>
        <th>
            @Html.ActionLink("Data", "Index", new { sortOrder = ViewBag.DataSortParm })
        </th>
        <th>
            Opções
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeDoArquivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoArquivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tamanhoArquivo) Kb
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataUpload)
            </td>
            <td>
                @Html.ActionLink("Recuperar", "Recuperar", new { id = item.id }) |
                @Html.ActionLink("Excluir", "Delete", new { id=item.id })
            </td>
        </tr>
    }
</table>