@model IEnumerable<PEDRO.Models.ArchiveUsersModels>

@{
    ViewBag.Title = "Gerenciador de Arquivos";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomeDoArquivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoArquivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tamanhoArquivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataUpload)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeDoArquivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoArquivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tamanhoArquivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataUpload)
            </td>
        </tr>
    }
</table>