@model IEnumerable<PEDRO.Models.ArchiveUsersModels>

@{
    ViewBag.Title = "Gerenciador de Arquivos";
    PEDRO.Models.ApplicationDbContext db = new PEDRO.Models.ApplicationDbContext();
    PEDRO.Models.ApplicationDbContext db2 = new PEDRO.Models.ApplicationDbContext();
}

<h2 class="">Meus arquivos</h2>

@using (Html.BeginForm())
{
    <p>
        Filtrar por: @Html.TextBox("SearchString")
        <input type="submit" value="Buscar" class="btn btn-default"/>
        @Html.ActionLink("Limpar", "Index", null, new { @class="btn btn-default" })      
    </p>
}

<table class="table">
    <tr>
        <th class="col-md-5">
            @Html.ActionLink("Nome do Arquivo", "Index", new { sortOrder = ViewBag.NomeSortParm })
        </th>
        <th>
            @Html.ActionLink("Tipo", "Index", new { sortOrder = ViewBag.TipoSortParm })
        </th>
        <th class="col-md-1">
            @Html.ActionLink("Tamanho", "Index", new { sortOrder = ViewBag.TamanhoSortParm })
        </th>
        <th class="col-md-2">
            @Html.ActionLink("Data", "Index", new { sortOrder = ViewBag.DataSortParm })
        </th>
        <th class="col-md-1">
            Opções
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeDoArquivo) 
                <a href="@Url.Action("Edit", new { id = item.id })">
                    <i class="glyphicon glyphicon-pencil" title="Renomear"></i>
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.extensao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tamanhoArquivo) Kb                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataUpload)
            </td>
            <td>
                <a href="@Url.Action("Recuperar", new { id = item.id })">
                    <i class="glyphicon glyphicon-download" title="Download"></i>
                </a>
                <a href="@Url.Action("Delete", new { id = item.id })">
                    <i class="glyphicon glyphicon-trash" title="Excluir"></i>
                </a>
                <a href="@Url.Action("Share", new { id = item.id })">
                    <i class="glyphicon glyphicon-share" title="Compartilhar"></i>
                </a>
            </td>
        </tr>
    }
</table>

<<<<<<< HEAD
@*<table class="table">
=======
<p>
    <div class="btn btn-default">
        @Html.ActionLink("Adicionar arquivo", "Create")
    </div>
</p>

<hr />
<p>Arquivos compartilhados com você</p>
<table class="table">
>>>>>>> origin/master
    @foreach (var s in db.SharedArchiveModels)
    {
        if (Model.FirstOrDefault().user.Id == s.usuario_id)
        {
            <tr>
                <th class="col-md-5">
                    Nome do Arquivo
                </th>
                <th>
                    Tipo
                </th>
                <th class="col-md-1">
                    Tamanho
                </th>
                <th class="col-md-2">
                    Data
                </th>
                <th class="col-md-1">
                    Opções
                </th>
            </tr>

            <tr>
                <td>
                    @db2.ArchiveUsersModels.Find(s.arquivo_id).nomeDoArquivo
                </td>
                <td>
                    @db2.ArchiveUsersModels.Find(s.arquivo_id).tipoArquivo
                </td>
                <td>
                    @db2.ArchiveUsersModels.Find(s.arquivo_id).tamanhoArquivo.ToString() Kb
                </td>
                <td>
                    @db2.ArchiveUsersModels.Find(s.arquivo_id).dataUpload.ToString()
                </td>
                <td>
                    <a href="@Url.Action("Recuperar", new { id = db2.ArchiveUsersModels.Find(s.arquivo_id).id })">
                        <i class="glyphicon glyphicon-download" title="Download"></i>
                    </a>
                </td>
            </tr>
        }
    }
</table>*@