@model IEnumerable<PEDRO.Models.ArchiveUsersModels>

@{
    ViewBag.Title = "Gerenciador de Arquivos";
    PEDRO.Models.ApplicationDbContext db = new PEDRO.Models.ApplicationDbContext();
}

<p>
    <div class="btn btn-default">
        @Html.ActionLink("Adicionar arquivo", "Create")
    </div>
</p>

@using (Html.BeginForm())
{
    <p>
        Filtrar por: @Html.TextBox("SearchString")
        <input type="submit" value="Buscar" class="btn btn-default"/>
        @Html.ActionLink("Limpar", "Index", null, new { @class="btn btn-default" })      
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nome do Arquivo", "Index", new { sortOrder = ViewBag.NomeSortParm })
        </th>
        <th>
            @Html.ActionLink("Tipo", "Index", new { sortOrder = ViewBag.TipoSortParm })
        </th>
        <th>
            @Html.ActionLink("Tamanho", "Index", new { sortOrder = ViewBag.TamanhoSortParm })
        </th>
        <th>
            @Html.ActionLink("Data", "Index", new { sortOrder = ViewBag.DataSortParm })
        </th>
        <th>
            Opções
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeDoArquivo) 
                <a href="@Url.Action("Edit", new { id = item.id })">
                    <i class="glyphicon glyphicon-pencil" title="Renomear"></i>
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoArquivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tamanhoArquivo) Kb
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataUpload)
            </td>
            <td>
                <a href="@Url.Action("Recuperar", new { id = item.id })">
                    <i class="glyphicon glyphicon-download" title="Download"></i>
                </a>
                <a href="@Url.Action("Delete", new { id = item.id })">
                    <i class="glyphicon glyphicon-trash" title="Excluir"></i>
                </a>
                <a href="@Url.Action("Share", new { id = item.id })">
                    <i class="glyphicon glyphicon-share" title="Compartilhar"></i>
                </a>
            </td>
        </tr>
    }
</table>

<table class="table">
    @foreach (var s in db.SharedArchiveModels)
    {
        if (Model.ToList().FirstOrDefault().user.Id == s.usuario_id)
        {
            var arq = db.ArchiveUsersModels.Find(s.arquivo_id);
            <tr>
                <th>
                    Nome do Arquivo
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Tamanho
                </th>
                <th>
                    Data
                </th>
                <th>
                    Opções
                </th>
            </tr>
                    
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => arq.nomeDoArquivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => arq.tipoArquivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => arq.tamanhoArquivo) Kb
                </td>
                <td>
                    @Html.DisplayFor(modelItem => arq.dataUpload)
                </td>
                <td>
                    <a href="@Url.Action("Recuperar", new { id = arq.id })">
                        <i class="glyphicon glyphicon-download" title="Download"></i>
                    </a>
                </td>
            </tr>
        }
    }
</table>